{
  "presets": ["module:@babel/preset-react", "next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [
        ".ts",
        ".tsx",
        ".jsx",
        ".js",
        ".json"
      ],
      "alias": {
        "@pages": "./src/page*",
        "@components": "./src/components"
      }
    }]
  ]
}
